@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body,
#root {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Roboto';
	font-size: 25px;
	overflow: auto;
}

#root {
	display: grid;
	grid-template: minmax(0, 1fr) / minmax(0, 1fr);
}
